body {
    background-color: #eee;
    font-size: .8em;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    color: #444;
}

h1,
h2 {
  color: #333;
}

h3 {
    margin-bottom: .5em;
    text-align: center;
}

strong {
    color: #555;
}

textarea {
    border: 1px solid #ddd;
    max-width: 100%;
    padding: 0;
}

table {
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
}

td,
th {
    padding: .3em;
}

a:link {
  color: #e81c4f;
  text-decoration: none;
}

a:hover { color: #a20029; }

a:visited { color: #67041d; }

/* PURE CSS */
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* MULTIPLE SELECT */
.ms-drop > ul > li {
    padding: .3em;
}

.ms-drop > ul > li > label {
    color: #111;
}

.ms-drop > ul > li > label > input {
    margin-right: .5em;
}

.ms-parent {
  width: 100% !important;
}

.ms-choice, .ms-drop {
    border-radius: 0;
}

/* CUSTOM */
.panel {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1em;
}

#left {
    padding: .6em;
    padding-top: .5em;
}

#right {
    padding-top: .5em;
    padding-right: .6em;
}

#parameters {
    padding: .5em;
}

#graph {
    height: 600px;
    position: relative;
}

.button {
    padding: .5em 1em;
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
}

.button:disabled {
    cursor: not-allowed !important;
    box-shadow: none !important;
    opacity: .65;
}

.button-primary {
    background-color: #d41a48;
    color: white;
    font-weight: bold;
    border: 1px solid #ab0830;
    font-size: .9em;
}

.button-styled {
    color: #67041d;
    cursor: pointer;
}

.button-styled:hover {
    border-color: #ddd;
    color: #e81c4f;
}

.button-styled:disabled {
    color: grey;
    border-color: white;
}

.button-strong {
    font-weight: bold;
    font-size: .9em;
}

.button-flexible {
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.button-primary:hover {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.button-block {
    width: 100%;
    height: 100%;
}

#result {
    margin-top: 1em;
}

#result > table > tbody > tr {
    cursor: pointer;
}

#result > table > tbody > tr:hover {
    border: 1px solid darkgrey;
    background-color: #ddd;
}

#type-select {
    width: 100%;
    font-size: larger;
    font-weight: bold;
    color: #555;
    margin-bottom: .3em;
}

.file-drop {
    width: 100%;
    height: 100%;
    background-color: #eaeded;
    border: 1px dashed #ddd;
}

#genes table {
    border-left: 3px solid black;
}

#metabolites table {
    border-left: 3px solid #b30303;
}

.panel-toolbar {
    padding: .3em;
    display: inline-block;
}

.table-container {
    margin-bottom: .5em;
}

.table-container > table {
    border-bottom: 0;
}

.pagination-control {
    background-color: white;
    border: 1px solid #ddd;
    border-top: 0;
}

.pagination-control .button {
    border-color: white;
}

/* D3 */
.nodes {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nodes rect.gene-node {
    color: #333;
    fill: #333;
    stroke: black;
}

.nodes rect.metabolite-node {
    color: #660000;
    fill: #660000;
    stroke: #3e0000;
    rx: 3;
}

.nodes text {
    color: white;
    fill: white;
}

.link {
  fill: none;
}