body {
    background-color: #eee;
    font-size: .8em;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    color: #444;
}

h1,
h2 {
  color: #333;
}

strong {
    color: #555;
}

textarea {
    border: 1px solid #ddd;
    max-width: 100%;
}

table {
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
}

td,
th {
    padding: .3em;
}

/* PURE CSS */
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* CUSTOM */
.panel {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1em;
}

#left {
    padding: .6em;
    padding-top: .5em;
}

#right {
    padding-top: .5em;
}

#parameters {
    padding: .5em;
}

.parameter {
    margin-right: .3em;
}

#graph {
    height: 600px;
}

.button {
    padding: .5em 1em;
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
}

/* D3 */
.nodes rect {
    color: #333;
    fill: #333;
}

.nodes text {
    color: white;
    fill: white;
}

.link {
  fill: none;
  stroke: darkgrey;
  stroke-width: 2px;
}