<!--<div class="panel" id="focus-graph-container" data-bind="style: {visibility: focus() ? 'visible' : 'hidden' }">-->
<div class="panel focus-invisible" id="focus-graph-container" data-bind="css: focus() ? 'focus-visible' : 'focus-invisible'">
    <button class="button button-transparent" data-bind="click: function() { focus(false); }" style="float: left">
        <span class="fa fa-times fa-lg"></span>
    </button>
    <h3 style="margin-top: 0">Annotation</h3>
    <!-- ko with: focusVM -->
    <div class="pure-g" style="height: 100%">
        <div class="pure-u-3-5">
            <div id="focus-graph"></div>
        </div>
        <div class="pure-u-2-5">
            <input type="text" data-bind="textInput: disorderTerm" placeholder="Disorder" style="width: 100%" />
            <span class="fa fa-refresh fa-spin fa-lg" data-bind="visible: loading"></span>
            <ul data-bind="foreach: disordersPagination.dataToShow">
                <li>
                    <a href="#" class="disorder-link" data-bind="click: $parent.disorder, text: name"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
</div>