<div class="panel" id="graph-settings" data-bind="visible: tab() === 'graph'">
    <div class="pure-g" style="margin-bottom: .5em">
        <div class="pure-u-2-5"><label>Min. # publications</label></div>
        <div class="pure-u-3-5">
            <input type="number" min="1" 
                data-bind="value: publicationCount,
                        attr: {'max': publicationMax }" />
            <span>
                /
                <span data-bind="text: publicationMax"></span>
            </span>
        </div>
    </div>

    <div class="pure-g" style="margin-bottom: .5em">
        <div class="pure-u-2-5"><label>Predicates</label></div>
        <div class="pure-u-3-5">
            <select multiple="multiple" id="predicates-filter" 
                    data-bind="foreach: allPredicates">
                <option data-bind="value: id, text: name"></option>
            </select>
        </div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: oneColor" />
                One color
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: sameWidth" />
                One link width
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: lonelyConcepts" />
                Show all concepts
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
</div>