<div class="panel" id="graph-settings" data-bind="visible: tab() === 'graph'">
    <h4>Graph settings</h4>
    
    <div class="pure-g" style="margin-bottom: .5em">
        <div class="pure-u-2-5"><label>Min. # publications</label></div>
        <div class="pure-u-3-5">
            <input type="number" min="1" 
                data-bind="value: publicationCount,
                        attr: {'max': publicationMax }" />
            <span>
                /
                <span data-bind="text: publicationMax"></span>
            </span>
        </div>
    </div>

    <div class="pure-g" style="margin-bottom: .5em">
        <div class="pure-u-2-5"><label>Predicates</label></div>
        <div class="pure-u-3-5">
            <select multiple="multiple" id="predicates-filter" 
                    data-bind="foreach: allPredicates">
                <option data-bind="value: id, text: name"></option>
            </select>
        </div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: oneColor" />
                One color
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: sameWidth" />
                One link width
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
        
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label>
                <input type="checkbox" data-bind="checked: lonelyConcepts" />
                Show all concepts
            </label>
        </div>
        <div class="pure-u-1-2"></div>
    </div>
</div>


<div class="panel" style="margin-top: 2em" data-bind="visible: tab() === 'graph'">
    <!-- ko with: enrichmentVM -->
    <h4>Enrichment</h4>
    
    <form data-bind="submit: enrich">
        <div class="pure-g">
            <div class="pure-u-2-5">
                <label>Gene ontology</label>
            </div>
            <div class="pure-u-3-5">
                <select name="go" class="ms-choice">
                    <option value="mf">Molecular function</option>
                    <option value="bp">Biological process</option>
                </select>
            </div>
        </div>
        
        <button class="button button-strong" type="submit" data-bind="disable: enriching">
            <span class="fa fa-refresh fa-spin" data-bind="visible: enriching"></span>
            Submit
        </button>
    </form>
    
    <!-- ko if: gos().length > 0 -->
    <table style="margin-top: .5em">
        <thead>
            <tr>
                <th width="80%">Name</th>
                <th width="20%">Score</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: gos">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: score"></td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->

    <!-- /ko -->
</div>