{% extends "layout.html" %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-1-3" id="left">
        <div data-bind="visible: concepts().length === 0">
            <h3>Metabolites</h3>
            <form data-bind="submit: getConcepts">
                <textarea rows="15" name="metabolites" style="width: 100%"></textarea>
                <button class="button" type="submit">Submit</button>
            </form>
        </div>
        
        <!-- ko if: concepts().length > 0 -->
        <button class="button" data-bind="click: function() { graphDirty(true); }">Update</button>

        <div id="metabolites">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Metabolite</th>
                        <th>CHEBI</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: concepts">
                    <tr data-bind="click: $root.selectConcept">
                        <td><input type="checkbox" /></td>
                        <td data-bind="text: name"></td>
                        <td>
                            <a data-bind="text: chebi_id,
                                        attr: {href: $root.chebi_url + chebi_id}">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="button" data-bind="click: reset">
                <span class="fa fa-arrow-left"></span> Back
            </button>
        </div>
        <!-- /ko -->
    </div>

    <div class="pure-u-2-3" id="right">
        <div class="panel" id="parameters">
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <strong>Min. # publications</strong> 
                    <input type="range" min="1" 
                        data-bind="value: publicationCount,
                                   attr: {'max': publicationMax }" />
                    <span>
                        <span data-bind="text: publicationCount"></span>
                        /
                        <span data-bind="text: publicationMax"></span>
                    </span>
                </div>
                
                <div class="pure-u-1-3"></div>
                
                <div class="pure-u-1-3">
                    <select multiple="multiple" id="predicates-filter" 
                            data-bind="foreach: allPredicates">
                        <option data-bind="value: id, text: name"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel" id="graph">
            <div data-bind="graph: graphDirty"></div>
        </div>
    </div>
</div>

{% endblock %}