<script type="text/html" id="table-template">

    <!-- ko if: !adding() -->
    <div class="panel panel-toolbar">
        <div class="pure-g">
            <div class="pure-u-3-5">
                <span class="fa fa-search"></span>
                <input type="text" data-bind="textInput: searchWord" />
            </div>
            <div class="pure-u-1-5"></div>
            <div class="pure-u-1-5">
                <button class="button button-block" data-bind="click: function() {adding(true)}">Add</button>
            </div>
        </div>
    </div>

    <table class="result-table">
        <thead>
            <tr>
                <th width="5%"><span class="fa fa-eye"></span></th>
                <th width="75%" data-bind="text: columns[0]"></th>
                <th width="10%" data-bind="text: columns[1]"></th>
                <th width="10%" data-bind="text: columns[2]"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pagination.dataToShow">
            <tr>
                <td>
                    <input type="checkbox" 
                        data-bind="checked: show, 
                                    click: function() { $root.dirty(true); return true; }" />
                </td>
                <td>
                    <a href="#" data-bind="click: $root.graph.zoom, text: name"></a>
                </td>
                <td data-bind="text: id"></td>
                <td>
                    <a data-bind="text: sourceId, attr: {href: $parent.url + sourceId}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="pure-g pagination-control">
        <div class="pure-u-1-5">
            <button class="button button-styled" style="width: 100%" 
                    data-bind="enable: pagination.canPrev, click: pagination.prev">
                Prev
            </button>
        </div>
        <div class="pure-u-1-5">
            <button class="button button-styled" style="width: 100%"
                    data-bind="enable: pagination.canNext, click: pagination.next">
                Next
            </button>
        </div>
        <div class="pure-u-3-5"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: adding -->
    <form data-bind="submit: getConcepts">
        <div class="panel panel-toolbar">
            <div class="pure-g">
                <div class="pure-u-3-5"></div>
                <div class="pure-u-1-5" style="padding-right: .3em;">
                    <button class="button button-block" 
                            data-bind="click: function() {adding(false)},
                                       visible: data().length > 0,
                                       disable: loading">
                        Cancel</button>
                </div>
                <div class="pure-u-1-5">
                    <button class="button button-block button-primary" style="font-size: .9em;"
                            data-bind="disable: loading">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        
        <div class="panel" style="border-top-style: dashed">
            <textarea rows="20" style="width: 100%;" data-bind="attr: { name: name }"></textarea>
        </div>
    </form>
    <!-- /ko -->
</script>