<script type="text/html" id="table-template">
    <div class="panel panel-toolbar">
        <span class="fa fa-search"></span>
        <input type="text" data-bind="textInput: searchWord" />
    </div>

    <table class="result-table">
        <thead>
            <tr>
                <th width="5%"><span class="fa fa-eye"></span></th>
                <th width="75%" data-bind="text: columns[0]"></th>
                <th width="10%" data-bind="text: columns[1]"></th>
                <th width="10%" data-bind="text: columns[2]"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pagination.dataToShow">
            <tr>
                <td>
                    <input type="checkbox" 
                        data-bind="checked: show, 
                                    click: function() { $root.graphDirty(true); return true; }" />
                </td>
                <td data-bind="text: name"></td>
                <td data-bind="text: id"></td>
                <td>
                    <a data-bind="text: sourceId, attr: {href: $parent.url + sourceId}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="pure-g pagination-control">
        <div class="pure-u-1-5">
            <button class="button button-styled" style="width: 100%" 
                    data-bind="enable: pagination.canPrev, click: pagination.prev">
                Prev
            </button>
        </div>
        <div class="pure-u-1-5">
            <button class="button button-styled" style="width: 100%"
                    data-bind="enable: pagination.canNext, click: pagination.next">
                Next
            </button>
        </div>
        <div class="pure-u-3-5"></div>
    </div>
</script>